body {
  margin: 0;
  padding: 0;
}
.header {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 15px 40px -20px rgba(40, 44, 63, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
}

.body {
  margin: 90px;
}
.nav-items {
  margin-right: 80px;
  padding: 20px;
}
#logo .logo-img {
  width: 60px;
  height: 60px;
  margin: 10px;
  margin-left: 50px;
}

.nav-items ul {
  display: flex;
}

.nav-items > ul > li {
  padding: 15px;
  list-style-type: none;
  font-size: 16;
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  white-space: 1px;
}

.res-card {
  width: 280px;
  height: auto;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 5%;
}

.res-card:hover {
  transition: 1s;
}
.res-img img {
  width: 280px;
  height: 186px;
  object-fit: cover;
  border-radius: 5%;
  gap: 12px;
}

.offer-text {
  font-size: x-large;
  font-weight: 900;
  font-weight: bolder;
  font-family: "Gilroy", sans-serif;
  margin-top: -45px;
  text-align: center;
  color: white;
}

.res-name {
  margin-top: -5px;
  padding-left: 10px;
}

.res-name .rating h4 {
  font-size: medium;
  font-family: "Gilroy", sans-serif;
}
.rating {
  margin-top: -20px;
  padding-left: 10px;
}
.cuisine {
  margin-top: -20px;
  padding-left: 10px;
}
.location {
  margin-top: -20px;
  padding-left: 10px;
}

.cuisine h4,
.location h4 {
  font-weight: 400;
  color: #787272;
}

.restaurant-container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.rating-heading {
  font-size: medium;
  font-family: "Gilroy", sans-serif;
  padding: auto;
}

.rating-icons {
  width: 14px;
  height: 15px;
  background-color: green;
  border-radius: 50%;
  size: 10px;
  color: white;
}
